@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Oswald:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

*{
  margin: 0px;
  padding:0px;
}

.App {
  text-align: center;
  margin: 0;
}

.warningpage {
  background-color: #111;
  height: 100vh;
  width: 100vw;

}

.typewriter {
  color: #00FF00;
  font-size: 1em;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  padding-top: 49vh;
}

.typing {
  margin: 0;
  background-color: red;
  width: 20px;
  height: 20px;
}

.landing {

  background:
  linear-gradient(
  rgba(0, 0, 0, 0.6),
  rgba(0, 0, 0, 0.6)
  ),
  url('./assets/20220506_184230.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin: 0;
}
/*
.headtext{
font-family: 'Nunito Sans', sans-serif;
color: black;
margin: 0;
padding-top: 49vh;
}*/

/* ANIMATION */

.jt {
  position: relative;
  font-size: 13vw;
  font-family: 'Staatliches', sans-serif;
  margin: 0px;
  color: tomato;
  text-transform: uppercase;
  font-display: swap;
 
  text-shadow: 0 0 5px tomato;
}

.jt__row {
  display: block;
}
.jt__row:nth-child(1) {
  clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);
}
.jt__row:nth-child(2) {
  clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);
}
.jt__row:nth-child(3) {
  clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);
}
.jt__row:nth-child(4) {
  clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);
}

.jt__row.jt__row--sibling {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  witdh:50vw;
  margin:0;
}

.jt__text {
  display: block;
  transform-origin: bottom left;
  animation: moveIn 2s 0s cubic-bezier(.36,0,.06,1) alternate infinite ;
  margin:0;
}
.jt__row:nth-child(1) .jt__text {
  transform: translateY(-0.1em);
}
.jt__row:nth-child(2) .jt__text {
  transform: translateY(-0.3em) scaleY(1.1);
}
.jt__row:nth-child(3) .jt__text {
  transform: translateY(-0.5em) scaleY(1.2) ;
}
.jt__row:nth-child(4) .jt__text {
  transform: translateY(-0.7em) scaleY(1.3) ;
}
.jt__row:nth-child(5) .jt__text {
  transform: translateY(-0.9em) scaleY(1.4) ;
}
.jt__row:nth-child(6) .jt__text {
  transform: translateY(-1.1em) scaleY(1.5) ;
}

@keyframes moveIn {
  50%, 100% { 
    transform: translateY(0em)
  }
  0%   { 
  opacity: 0; 
  filter: blur(10px);
  
  }
  100% { 
  opacity: 1; 
  filter: blur(0px);
  }
}



.debug .jt__row:nth-child(even) {
  color: black;
  background: white;
  margin:0;
}
.debug .jt__row:nth-child(odd) {
  color: white;
  background: black;
  margin:0;
}

.headtextdiv{
  padding-top: 45vh;
  text-align: centre;
  display:block;
  padding-left: 6vw;
  padding-right: 6vw;
  width: 88vw;
  margin:0;
}

.mdis{
  text-align: centre;
  display:block;
  padding-left: 6vw;
  padding-right: 6vw;
  width: 88vw;
  margin:0;
  color: rgb(223,255,186);
  text-shadow: 0 0 4px rgba(199,255,135,0.629);
  font-family: 'Oswald', sans-serif;
  font-size:0.65em;
  padding-top:0;
  margin-top:0px;
}

.icon{
  color: #65f366;
  font-size: 2.5em;
  text-shadow: 0 0 10px rgba(157,255,45,0.627);
}

.icons{
  padding-top: 8vh;
  display: flex;
  padding-left:35vw;
  padding-right:35vw;
  justify-content: space-between;
  
}

.contentm{
  background-color: #161616;
  color: white;
  padding-top: 7vh;
  width:100%;
  font-family: 'Montserrat', sans-serif;
}

.welcomet{
  font-size: 1.4em;
  width: 80vw;
  padding-bottom: .9vh;
  font-weight:600;
  
}

.welcome{
  margin-left: 10vw;
  margin-right: 10vw;
  border-bottom: 2.5px solid white;
}

.dist{
  width:88vw;
  padding-top: 1.8vh;
  padding-left:6vw;
  padding-right:6vw;
  font-size:0.7em;
  font-weight:600;
  padding-bottom: 5vh;
}

.test{
  width: 80vw;
  height: 50px; 
}

.slide-container{
  width: 60vw;
  height: 60vw;
  margin-top:2vh;
  padding-left: 20vw;
  padding-right:20vw;
}

.testr{
  width: 60vw;
  height: 60vw;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.tmaind{
  width: 76vw;
  padding-top: 8vh;
  padding-bottom:3vh;
  padding-left: 12vw;
  padding-right: 12vw;
}

.tnum{
  display:flex;
  justify-content: space-between;
  width:100%;
}

.num{
font-size:1.7em;
font-weight: 800;
background: -webkit-linear-gradient(rgb(255,93,62), rgb(237,53,135));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ds{
  padding-top:0.5vh;
  font-size: 0.5em;
}

.tdis{
  justify-content: center;
  width:100%;
}

.shead{
 font-size: 1.4em;
  width: 70vw;
  padding-top: 5vh;
  font-weight:500;
  margin-left: 15vw;
  margin-right: 15vw;
  padding-bottom: 0.6vh;
  margin-bottom: 0.6vh;
  border-bottom: 2px solid white;
}

.storym{
  width: 70vw;
  padding-left:15vw;
  padding-right:15vw
}

.story{
  margin-top:2.5vh;
  font-size: 0.8em;
  text-align: left;
  font-style: italic;
  font-weight: 500;
  white-space: normal;
  hyphens: auto;
  word-wrap: break-word;
}
.scroll{
  width: 70vw;
  height: 50vh;
}

.pfp{
  width: 3.5em;
  height:3.5em;
  border-radius: 5px;
}

.teamm{
  display: flex;
  margin-bottom: 3vh;
  
}

.name{
  font-size: 0.55em;
  font-weight: 800;
}
.pdis{
  font-size:0.5em;
  font-weight: 600;
}

.pdism{
  text-align: left;
  padding-left: 2vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height:3em;
}

.mainpd{
  display:flex;
  width:84vw;
  
  margin-left:12vw;
  margin-right:4vw;
  flex-direction: row;
}
.mainpd1{
  display:flex;
  flex-direction: column;
}

.mmn{
  font-size: 1.4em;
  width: 70vw;
  padding-top: 7vh;
  font-weight:500;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-bottom: 6vh;
  padding-bottom: 0.8vh;
  border-bottom: 2px solid white;
}

.sb{
  margin-top:3vh;
}

.faqm{
  width:60vw;
  
}

.fq{
  background-color: rgb(68,68,72);
  margin-bottom: 1vh;
  border-radius: 3px;
  width:74vw;
  margin-left:13vw;
  margin-right: 13vw;
  height:5.5vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-weight: 600;
  text-align: left;
  padding-left:3vw;
  
}

.fqc{
  width:74vw;
  margin-left:11vw;
  margin-right: 15vw;
  hyphens: auto;
  word-wrap: break-word;
  text-align: left;
  font-size: 0.7em;
  font-weight:600;
}

.faqh{
  font-size: 1.4em;
  width: 49vw;
  padding-top: 5vh;
  font-weight:500;
  margin-left: 25.5vw;
  margin-right: 25.5vw;
  padding-bottom: 0.8vh;
  margin-bottom: 2.5vh;
  border-bottom: 2px solid white;
}

.join{
  width:80vw;
  Padding-left:10vw;
  margin-top: 7vw;
  color:white;
  font-size: 1.5em;
  font-weight: 600;
  
}

.create{
  font-size: 0.7em;
  font-weight: 600;
  margin-right:5px;
  
}

.icond{
   padding-top: 4vh;
  display: flex;
  padding-left:35vw;
  padding-right:35vw;
  justify-content: space-between;
}

.icont{
  color: white;
  font-size: 2.5em;
}

.mname{
  font-size: 0.7em;
  font-weight: 800;
  color:white;
}

.last{
  display:flex;
  flex-direction: row;
  margin-top: 8vh;
  padding-bottom:1.5vh;
  width:80vw;
  justify-content:center;
  padding-left:10vw;
}



@media only screen and (min-width: 600px) {
  .icons{
    padding-left:43vw;
    padding-right: 43vw;  
  }
  .icon{
    font-size: 3em;
  }
  
  .dist{
    padding-left: 25vw;
    padding-right: 25vw;
    width:50vw; 
     font-size: 0.9em;

  }
  .welcome{
    margin-left: 20vw;
    margin-right: 20vw;
    width:60vw;
  
  }

  .welcomet{
    width:60vw;
    font-size: 2em;
}

.tmaind{
  width: 64vw;
  padding-top: 8vh;
  padding-bottom:3vh;
  padding-left: 18vw;
  padding-right: 18vw;
}

.num{
font-size:3.5em;
font-weight: 800;
background: -webkit-linear-gradient(rgb(255,93,62), rgb(237,53,135));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ds{
  padding-top:0.5vh;
  font-size: 0.7em;
}


.pfp{
  width: 6em;
  height:6em;
  border-radius: 5px;
}

.teamm{
  display: flex;
  margin-bottom: 3vh;
  
}

.name{
  font-size: 0.9em;
  font-weight: 800;
}
.pdis{
  font-size:0.7em;
  font-weight: 600;
}

.pdism{
  text-align: left;
  padding-left: 2vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height:3em;
}

.mainpd{
  display:flex;
  width:60vw;
  margin-left:20vw;
  margin-right:20vw;
  flex-direction: row;
  justify-content: space-evenly;
}
.mainpd1{
  display:flex;
  flex-direction: column;
}

.icond{
  padding-top: 6vh;
 display: flex;
 padding-left:43vw;
 padding-right:43vw;
 width: 14vw;
 justify-content: space-between;
}

.icont{
 color: white;
 font-size: 2.5em;
}

.join{
  width:70vw;
  padding-left: 15vw;
  padding-right: 15vw;
  font-size: 2.2em;
}
.fqc{
  width:74vw;
  margin-left:12vw;
  margin-right: 14vw;
  hyphens: auto;
  word-wrap: break-word;
  text-align: left;
  font-size: 0.8em;
  font-weight:600;
}
.typewriter{
  font-size: 1.3em;
}

.testr{
  width: 40vw;
  height: 40vw;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.slide-container{
  width: 40vw;
  height: 40vw;
  margin-top:2vh;
  padding-left: 30vw;
  padding-right:30vw;
}


}